/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
body {
  margin: 0px 10px !important;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.css-kibv85 {
  padding: 0 !important;
}
.css-5c1adp-MuiContainer-root {
  padding: 0px 0px !important;
}

.carousel-control-next {
  position: absolute;
  top: 50;
  right: 10;
  margin: 0 10px;
}
.carousel-control-prev {
  position: absolute !important;
  top: 50 !important;
  left: 10 !important;
  margin: 0 10px;
}

.prop-card-main-container {
  height: 384px;
  width: 100%;
  margin-top: 5%;
  border-radius: 12px;
  font-family: "Poppins, sans-serif";
  background-color: #fefefe;
  margin: 0% 0%;
}

.prop-card-box {
  display: flex;
  height: 384px;
  width: 100%;
  margin: 0px;
  font-family: "Poppins, sans-serif";
  flex-direction: row;
  padding: 20px;
}
.view-prop-cta-cont {
  margin-top: 4%;
  justify-content: flex-start;
  display: flex;
  margin-bottom: 10px;
}
.view-prop-cta-cont {
  margin-top: 10%;
  justify-content: flex-start;
  display: flex;
  margin-bottom: 10px;
}
.card-peach-btn {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding: 10px 20px;
  transition: all 0.3s;
  margin: 5px;
  cursor: pointer;
  background: #ffe6b6;
  text-transform: inherit;
  border-radius: 42px;
  height: 50px;
  width: 150px;
  border: none !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.view-prop-btn {
  display: "flex";
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: 261px;
  height: 52px;
  background: #0086ad;
  border-radius: 42px;
  padding: 10px 20px;
  transition: all 0.3s;
  margin: 5px;
  cursor: pointer;
  text-transform: inherit;
  border: none !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.carousel-img-container {
  width: 437px;
}
.Heading {
  color: black;
  font-size: 24px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.sub-Heading {
  color: black;
  font-size: 16px;
  font-family: "poppins";
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .Heading {
  color: black;
  font-size: 16px;
}
.sub-Heading {
  color: black;
  font-size: 12px;
}

  .carousel-img-container {
    width: 100%;
  }
  .prop-card-main-container {
    height: auto;
    width: 100%;
    margin-top: 5%;
    border-radius: 31px;
    font-family: "Poppins, sans-serif";
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #d9d9d9;
    margin: 1;
  }
  .prop-card-box {
    display: flex;
    height: auto;
    width: 100%;
    margin: 0px;
    font-family: "Poppins, sans-serif";
    flex-direction: column;
    padding: 0px;
  }
  .card-peach-btn {
    width: 125px;
    height: 40px;
    padding: 0 0;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  .card-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .card-btn-container {
    margin-top: 5%;
  }
  .view-prop-cta-cont {
    margin-top: 0%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for tablets */
   .Heading {
  color: black;
  font-size: 20px;
}
.sub-Heading {
  color: black;
  font-size: 16px;
}
  .carousel-img-container {
    width: 100%;
  }
  .prop-card-main-container {
    height: auto;
    width: 100%;
    margin-top: 5%;
    border-radius: 31px;
    font-family: "Poppins, sans-serif";
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #d9d9d9;
    margin: 1;
  }
  .prop-card-box {
    display: flex;
    height: auto;
    width: 100%;
    margin: 0px;
    font-family: "Poppins, sans-serif";
    flex-direction: column;
    padding: 0px;
  }
  .card-peach-btn {
    width: 125px;
    height: 40px;
    padding: 0 0;
    font-size: 14px;
  }
  .card-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .card-btn-container {
    margin-top: 5%;
  }
  .view-prop-cta-cont {
    margin-top: 0%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for desktops */
     .Heading {
  color: black;
  font-size: 22px;
}
.sub-Heading {
  color: black;
  font-size: 16px;
}
  .carousel-img-container {
    width: 100%;
  }
  .card-peach-btn {
    width: 75px;
    height: 35px;
    padding: 0 0;
    font-size: 14px;
  }
  .view-prop-btn {
    font-size: 14px;

    width: 175px;
    height: 40px;
    background: #0086ad;
    border-radius: 42px;
    padding: 10px 0px;
  }
  .prop-card-main-container {
    margin-top: 0%;
  }
  .view-prop-cta-cont {
    margin-top: 0%;
  }

  .prop-card-main-container {
    height: 350px;
    width: 100%;
    margin: 0 10px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Styles for large desktops */
     .Heading {
  color: black;
  font-size: 24px;
}
.sub-Heading {
  color: black;
  font-size: 18px;
}
  .card-peach-btn {
    width: 100px;
    height: 45px;
  }
  .carousel-img-container {
    width: 100%;
  }
  .view-prop-cta-cont {
    margin-top: 0%;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 10px;
  }
  .carousel-control-next {
    right: 35px;
  }
}

@media (min-width: 1400px) {
  /* Styles for extra large screens */
     .Heading {
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.sub-Heading {
  color: black;
  font-size: 16px;
}
  .view-prop-cta-cont {
    margin-top: 3%;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .carousel-img-container {
    width: 100%;
  }
  .prop-card-main-container {
    height: auto;
    width: 100%;
    margin-top: 5%;
    border-radius: 31px;
    font-family: "Poppins, sans-serif";
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #d9d9d9;
    margin: 1;
  }

  .prop-card-box {
    display: flex;
    height: auto;
    width: 100%;
    margin: 0px;
    font-family: "Poppins, sans-serif";
    flex-direction: column;
    padding: 0px;
  }

  .view-prop-cta-cont {
    margin-top: 10%;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 10px;
  }
  .card-peach-btn {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 10px 0px;
    transition: all 0.3s;
    margin: 5px;
    cursor: pointer;
    background: #ffe6b6;
    text-transform: inherit;
    border-radius: 16px;
    height: 125px;
    width: 30%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  .view-prop-btn {
    display: "flex";
    align-self: center;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 181px;
    height: "44px";
    background: #0086ad;
    border-radius: 42px;
    padding: 10px 20px;
    transition: all 0.3s;
    margin: 5px;
    cursor: pointer;
    text-transform: inherit;
  }
}
